@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-emerald-500: #10b981;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased selection:bg-emerald-500/30;
}
